h1.title {
	font-family: 'Libre Franklin', sans-serif;
}
body {
	/*font-family: 'Libre Baskerville', sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}

hr.style1{
	/*border-top: 1px solid #8c8b8b;*/
	margin-top: 20px;
	margin-bottom: 20px;
}

p.lead-text {
	margin-bottom: 20px;
	
}
div.bottom-button {
	margin-bottom: 40px;
	
}

.haveVsWantBar { fill: #267ddd; }
.haveVsWantText { 
	fill: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
}
.haveVsWantNumbers { 
	fill: rgb(51, 51, 51);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
}

#specializationCloudChart .x.axis path {
  display: none;
}
footer .social {
  color: #267ddd;
}
svg {
	display: block;
	margin: auto;
}